* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 70px 70px 30px ;
  background-color: #f2f2f2;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
}
.flex-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: start;
}
.container1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 60%;
}
.skills-design {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.header1 {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
.header2 {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  width: 50%;
}
.header3 {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  width: 50%;
  height: fit-content;
}

.profile-img {
  width: 100%;
  height: 350px;
  border-radius: 12px;
}
.name-role {
  margin-top: 20px;
  margin-bottom: 30px;
}
.name {
  color: #4F4F4F;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}
.role {
  color:#828282;
  font-size: 18px;
  font-weight: 500;
}
.info {
  margin-bottom: 30px;
}
.info i {
  margin-right: 10px;
}
.email {
  margin-bottom: 5px;
}
.description {
  width: 80%;
}
.frontend {
  color: #4F4F4F;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.skill {
  color: #4F4F4F;
  font-size: 16px;
  font-weight: 500;
}
.skill-range-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.skill-range {
  width: 50%;
  height: 9px;
  background: #c4c4c4;
  border-radius: 12px;
}
.skill-bar {
  height: 100%;
  width: 0;
  background: #2F80ED;
  border-radius: 5px;
  transition: 1s;
}
.span-tech {
  margin-bottom: 20px;
}
span {
  color: #4F4F4F;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}
.project {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.project-image-container {
  width: 40%;
}
.project-text-container {
  width: 60%;
}
.project-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.project-heading {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  color: #4F4F4F;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.project-item {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}
.project-sub-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-title {
  color: #333;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.project-description {
  color: #828282;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}
button {
  padding: 10px 30px;
  border-radius: 12px;
  margin-right: 5px;
}
.demo-button {
  background: #2F80ED;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 500;
}
.code-button {
  border-radius: 12px;
  background: #fff;
  border: 1px solid #2F80ED;
  color: #2F80ED;
  font-size: 18px;
  font-weight: 500;
}
.experience {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
}
.experience-heading {
  color: #4F4F4F;
  font-size: 24px;
  font-weight: 500;
}
.experience-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 40px;
}
.experience-sub-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
.company-logo {
  width: 84px;
  background: #fff;
  padding: 10px;
}
.date {
  color: #828282;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.experience-role {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}
.experience-description {
  color: #828282;
  font-size: 16px;
  font-weight: 500;
}

/* hobbies */
.hobbies {
  grid-column: span 2;
  grid-row: span 2;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
}
.hobbies-heading {
  color: #4F4F4F;
  font-size: 24px;
  font-weight: 500;
}
.hobbies-img {
  width: 100%;
  height: 139px;
  border-radius: 12px;
}
.hobbies-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 26px;
}
.hobbies-sub-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hobby {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}
.hobby-description {
  color: #828282;
  font-size: 16px;
  font-weight: 500;
}

/* blog */
.blog {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog-heading {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  color: #4F4F4F;
  font-size: 18px;
  font-weight: 500;
}
.blog-container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}
.blog-text-container {
  width: 60%;
}
.blog-image-container {
  width: 40%;
}
.blog-image {
  width: 100%;
  height: 100%;
}
.blog-sub {
  color: #E0E0E0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}
.blog-title {
  color: #333;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 26px;
}
.blog-description {
  color: #828282;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 21px;
}
.para1 {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
.dev {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

footer {
  margin-top: 130px;
  text-align: center;
}
@media (max-width: 1200px) {
  body {
    padding: 20px 20px 10px ;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .container1 {
    flex-direction: column;
    width: fit-content;
  }
  .container2 {
    flex-direction: column;
    width: fit-content;
   
  }
  .project-item {
    align-items: center;
  }
  .blog-container {
    align-items: center;
  }
  .demo-button {
    margin-bottom: 10px;
  }
}